@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&family=Ma+Shan+Zheng&family=Long+Cang&family=Zhi+Mang+Xing&family=ZCOOL+QingKe+HuangYou&display=swap');

.font-art-xiaowei {
  font-family: 'ZCOOL XiaoWei', serif;
}
.font-art-mashan {
  font-family: 'Ma Shan Zheng', cursive;
}
.font-art-longcang {
  font-family: 'Long Cang', cursive;
}
.font-art-zhimang {
  font-family: 'Zhi Mang Xing', cursive;
}
.font-art-huangyou {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
